h1 {
	animation: blinker 5s ease-in-out infinite;
	padding: 10px;
	background-color: yellow;
	border: 20px solid orange;
	margin: 10px;
}

@keyframes blinker {
	50% {opacity:0;}
}

.wrapper {
	display: flex; 
}
aside {
	background: lightgray;
	width: 25%;
}

main {
	background: fuchsia;
	width: 75%;
	margin-left: 25px;
}